<main>
    <form  (submit) =  "onAddPost(postForm)" #postForm = "ngForm">
        <mat-card>
            <mat-form-field>
                <textarea matInput type="text" ngModel name="title" required #title="ngModel"></textarea>
                <mat-error *ngIf="title.invalid">Enter title!</mat-error>
            </mat-form-field>

            <mat-form-field>
                <textarea matInput rows="10" ngModel name="content" required #content="ngModel"></textarea>
                <mat-error *ngIf="content.invalid">Enter content!</mat-error>
            </mat-form-field>
            <button mat-raised-button type="submit">Save</button>
        </mat-card>
    </form>
</main>